<a href="https://colab.research.google.com/github/MeghanaPidaparthi/ExcelR-assignments/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
# Program to print numbers from 1 to 10

for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = int(input("Enter the value of n: "))
total = 0

for number in range(1, n + 1):
    total += number

print(f"The sum of the first {n} numbers is: {total}")

Enter the value of n: 5
The sum of the first 5 numbers is: 15

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def square(number):
    return number * number

# Calling the function
result = square(5)
print(f"The square of 5 is: {result}")

The square of 5 is: 25

In [ ]:
def calculate_area(length, width):
    return length * width

# Calling the function
length = 5
width = 10
area = calculate_area(length, width)
print(f"The area of the rectangle is: {area}")

The area of the rectangle is: 50

In [ ]:
def calArea(r):
  a=3.14*r*r
  return a

In [ ]:
calArea(10)

314.0

In [ ]:
w=calArea(r=20)

In [ ]:
w

1256.0

In [ ]:
type(w)

float

In [ ]:
def calculate_area(length, width):
    return length * width
# Calling the function
length = 5
width = 10

area = calculate_area(length, width)
print(f"The area of the rectangle is: {area}")

The area of the rectangle is: 50

In [ ]:
calculate_area(5,10)

50

In [ ]:
def area(radius,length,width):
  aoc=3.14*radius*radius
  aor=length*width
  return aoc,aor

In [ ]:
area(10,20,30)

(314.0, 600)

In [ ]:
def area(radius,length,width):
  aoc=3.14*radius*radius
  aor=length*width
  return {'Area of circle':aoc,'Area of rectangle':aor}

In [ ]:
area(10,20,30)

{'Area of circle': 314.0, 'Area of rectangle': 600}

In [ ]:
t='HyderabAAd'
for i in t:
  if i.lower() in 'a':
    print(i)

a
A
A

In [ ]:
x="HyderabAAd"
def countA(x):
  d=x.lower()
  return d.count('a')

In [ ]:
countA(x)

3

In [ ]:
t="HyderabAAD 50008 Telangana"

In [ ]:
for i in t:
  if i.lower() in t:
    print(i)

y
d
e
r
a
b
A
A
D

5
0
0
0
8

e
l
a
n
g
a
n
a

In [ ]:
def count_num_alpha(x):
  c=0
  d=0
  for i in x:
    if i.isalpha():
      c+=1
    elif i.isnumeric():
      d+=1
    return {'Number of alphabets':c,'Number of digits':d}

In [ ]:
count_num_alpha(t)

{'Number of alphabets': 1, 'Number of digits': 0}

In [ ]:
def separator(x):
  j = []  # List to store even numbers
  k = []  # List to store odd numbers

  for i in x:
    if i % 2 == 0:
      j.append(i)
    else:
      k.append(i)

  return {'Even': j, 'Odd': k}  # Return the dictionary after the loop

separator([1, 78654, 1234567, 432, 9348])

{'Even': [78654, 432, 9348], 'Odd': [1, 1234567]}